<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intentindetail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntentInDetail">

          <activity android:name=".newActivity"></activity>

        <!--1st way of having having back button option in action bar so before uncommenting this first you comment the above line that is line no 13  -->
<!--        <activity android:name=".newActivity"-->
<!--            android:parentActivityName=".MainActivity"></activity>-->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>